.sprite-renderer {

}

.bee {
  width: 36px;
  height: 34px;

  background:  url('../public/sprites/bee.png') no-repeat 0 0%;
  animation: sprite 0.5s steps(5, end) infinite;
}

.bunny {
  width: 34px;
  height: 44px;
  background: url('../public/sprites/bunny-run.png') no-repeat 0 0;
  animation: sprite 0.5s steps(11, end) infinite;
}

.chicken {
  width: 32px;
  height: 34px;
  background: url('../public/sprites/chicken-run.png') no-repeat 0 0;
  animation: sprite 0.5s steps(13, end) infinite;
}

/* .pig {
  width: 32px;
  height: 30px;
  background: url('../public/sprites/pig-run.png') no-repeat 0 0;
  animation: sprite 0.5s steps(11, end) infinite;
} */

/* .chameleon {
  width: 84px;
  height: 38px;
  background: url('../public/sprites/chameleon-run.png') no-repeat 0 0;
  animation: sprite 0.5s steps(7, end) infinite;
} */

.radish {
  width: 30px;
  height: 38px;
  background: url('../public/sprites/radish-run.png') no-repeat 0 0;
  animation: sprite 0.5s steps(11, end) infinite;
}

/* .rino {
  width: 52px;
  height: 34px;
  background: url('../public/sprites/rino-run.png') no-repeat 0 0;
  animation: sprite 0.5s steps(5, end) infinite;
} */

.rock1 {
  width: 38px;
  height: 34px;
  background: url('../public/sprites/rock1-run.png') no-repeat 0 0;
  animation: sprite 0.5s steps(13, end) infinite;
}

.rock2 {
  width: 32px;
  height: 28px;
  background: url('../public/sprites/rock2-run.png') no-repeat 0 0;
  animation: sprite 0.5s steps(13, end) infinite;
}

.rock3 {
  width: 22px;
  height: 18px;
  background: url('../public/sprites/rock3-run.png') no-repeat 0 0;
  animation: sprite 0.5s steps(13, end) infinite;
}

.trunk {
  width: 64px;
  height: 32px;
  background: url('../public/sprites/trunk-run.png') no-repeat 0 0;
  animation: sprite 0.5s steps(13, end) infinite;
}

.ground {
  background-image: url('../public/sprites/Terrain_32_32.png');
  background-position: 0px -128px;
  background-size: 544px 160px;
  background-repeat: repeat;
}

.run {
  animation: run 5s linear infinite;
}

@keyframes sprite {
  from { background-position: 0%; }
  to { background-position: 100%}
}

@keyframes run {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-268px);
  }
}
