name: Build, Push, and Deploy

on:
  push:
    branches: [ main ]

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:        
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Aliyun ACR
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ACR_REGISTRY }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and Push Docker Images
        run: |
          export IMAGE_TAG=${{ github.sha }}
          export ACR_FULL_ADDRESS=${{ secrets.ACR_REGISTRY }}/${{ secrets.ACR_NAMESPACE }}

          # 只构建一次镜像
          docker build -t $ACR_FULL_ADDRESS/website:$IMAGE_TAG .
          docker push $ACR_FULL_ADDRESS/website:$IMAGE_TAG

  deploy:
    runs-on: ubuntu-latest
    needs: build-push
    steps:
      - name: SSH to ECS and Deploy
        uses: appleboy/ssh-action@v1.2.1
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          debug: true
          script: |
            # 登录阿里云镜像仓库
            echo ${{ secrets.ACR_PASSWORD }} | docker login ${{ secrets.ACR_REGISTRY }} \
              -u ${{ secrets.ACR_USERNAME }} \
              --password-stdin

            # 拉取最新镜像并启动容器
            export IMAGE_TAG=${{ github.sha }}
            export ACR_FULL_ADDRESS=${{ secrets.ACR_REGISTRY }}/${{ secrets.ACR_NAMESPACE }}

            # 拉取新镜像
            docker pull $ACR_FULL_ADDRESS/website:$IMAGE_TAG

            # 同步仓库信代码
            cd /www/wwwroot/zzhwhd.com/zzhwhd
            git reset --hard origin/main
            git pull origin main
            git checkout main
            
            # 停止并删除旧容器
            docker compose -f /www/wwwroot/zzhwhd.com/zzhwhd/docker-compose.yml down

            # 清理旧镜像，只保留最新的一个
            docker images "$ACR_FULL_ADDRESS/website" -q | tail -n +2 | xargs -r docker rmi -f
            
            # 清理悬空镜像
            docker image prune -f

            # 启动新容器
            docker compose -f /www/wwwroot/zzhwhd.com/zzhwhd/docker-compose.yml up -d